<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dark_ninja.passwordmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity
            android:name=".ForgotPass"
            android:label="Forgot Password"
            android:parentActivityName=".Login" />
        <activity
            android:name=".SingUp"
            android:label="Sign UP"
            android:parentActivityName=".Login" />
        <activity
            android:name=".AddPassword"
            android:label="Add Password"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShowPassword"
            android:label="Show Password"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpdatePassword"
            android:label="Update Password"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".About"></activity>
    </application>

</manifest>